/* line 14, ../sass/responsive-gs-12col.sass */
.container {
  margin: 0 auto;
}

/* line 19, ../sass/responsive-gs-12col.sass */
.row:after, .col:after, .clr:after, .group:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 28, ../sass/responsive-gs-12col.sass */
.row {
  margin-bottom: 1.5em;
}

/* DEFAULT COLUMN STYLES */
/* line 33, ../sass/responsive-gs-12col.sass */
.col {
  display: block;
  float: left;
  width: 100%;
}

@media (min-width: 768px) {
  /* line 40, ../sass/responsive-gs-12col.sass */
  .col {
    margin-left: 2%;
  }
}
/* RESET MARGINS */
/* line 47, ../sass/responsive-gs-12col.sass */
.col:first-child {
  margin-left: 0;
}

/* COLUMN WIDTH ON DISPLAYS +768px */
@media (min-width: 768px) {
  /* line 53, ../sass/responsive-gs-12col.sass */
  .span_1 {
    width: 6.5%;
  }

  /* line 55, ../sass/responsive-gs-12col.sass */
  .span_2 {
    width: 15%;
  }

  /* line 57, ../sass/responsive-gs-12col.sass */
  .span_3 {
    width: 23.5%;
  }

  /* line 59, ../sass/responsive-gs-12col.sass */
  .span_4 {
    width: 32%;
  }

  /* line 61, ../sass/responsive-gs-12col.sass */
  .span_5 {
    width: 40.5%;
  }

  /* line 63, ../sass/responsive-gs-12col.sass */
  .span_6 {
    width: 49%;
  }

  /* line 65, ../sass/responsive-gs-12col.sass */
  .span_7 {
    width: 57.5%;
  }

  /* line 67, ../sass/responsive-gs-12col.sass */
  .span_8 {
    width: 66%;
  }

  /* line 69, ../sass/responsive-gs-12col.sass */
  .span_9 {
    width: 74.5%;
  }

  /* line 71, ../sass/responsive-gs-12col.sass */
  .span_10 {
    width: 83%;
  }

  /* line 73, ../sass/responsive-gs-12col.sass */
  .span_11 {
    width: 91.5%;
  }

  /* line 75, ../sass/responsive-gs-12col.sass */
  .span_12 {
    width: 100%;
  }
}
