include includes/mixines
!!! 5
html
	include includes/head
	include includes/scripts
	
	body

		header
			#logo
				img(src="img/logo-america-movil.png")

			#meta
				a(href="#") 
					span.icon-envelope
					|  Contacto
				a(href="#") 
					span.icon-rss
					|  RSS
				a(href="#") 
					span.icon-flag
					|  English
			#search
				input(type="text")
				span.icon-search

			nav#main-nav
				ul
					li
						a(href="#") Presencia
					li
						a(href="#") Relaciones con Inversionistas 
					li
						a(href="#") Nosotros
					li
						a(href="#") Sala de Prensa

			#nav-mobile
				a(href="#main-nav").open
					span.icon-reorder
				a(href="#").close
					span.icon-reorder

		#magazine
			.container
				#news
					- for (var j = 1; j <= 3; ++j) {
					.new
						h2 Cupcake ipsum dolor sit amet gummies
						p México DF a 30 de mayo de 2013
						.actions
							a(href="#") ver más +
					- }

		#indicadores
			.container
				p Indicadores Financieros  =  
					span AMXA 00.00%  
					| | 
					span AMX 00.00%
					| | 
					span AMXL 00.00%
					| | 
					span AMOV 00.00%

		#content.container
			#featured-info
				section
					h2 Reportes Financieros
					mixin paginador()
					- for (var j = 1; j <= 2; ++j) {
					article
						.icono
						.text
							h3 Biscuit dragée pastry
							p Gingerbread pie tart sweet cake sweet cheesecake brownie chocolate bar. Oat cake carrot cake gummies.
							.actions
								a(href="#") ver más +
					- }

				section
					h2 Calendario de Eventos
					mixin paginador()
					article
						.icono 
						.text
							h3 Biscuit dragée pastry
							p Gingerbread pie tart sweet cake sweet cheesecake brownie chocolate bar. Oat cake carrot cake gummies.
							.actions
								a(href="#") ver más +

			#sidebar
				section
					h2 AMX y la OCDE
					.paginador
						hr
					- for (var j = 1; j <= 2; ++j) {
					article
						.icono
						.text
							p Gingerbread pie tart sweet cake sweet cheesecake brownie chocolate bar. Oat cake carrot cake gummies.
							.actions
								a(href="#") ver más +
					- }

				section#registro
					h2 Registro
					.paginador
						hr
					article
						p Gingerbread pie tart sweet cake sweet cheesecake brownie chocolate bar. Oat cake carrot cake gummies.
						h4 Javier Escandon
						a(href="#") mail@americamovil.com

		include includes/footer		