footer
	.container
		article.span_12
			p © 2013 América Móvil. Todos los derechos reservados.
			p 
				a(href='#') Glosario
				| |
				a(href='#') Contacto
				| |
				a(href='#') Mapa del Sitio
				| |
				a(href='#') Términos y Condiciones
				| |
				a(href='#') Política de Privacidad