header
	#logo
		a(href="index.html")
			img(src="img/logo-america-movil.png") 

	#meta
		a(href="#") 
			span.icon-envelope
			|  Contacto 
		a(href="#") 
			span.icon-rss
			|  RSS
		a(href="#") 
			span.icon-flag
			|  English
	#search
		input(type="text")
		span.icon-search

	include main-nav
	
	#nav-mobile
		a(href="#main-nav").open
			span.icon-reorder
		a(href="#").close
			span.icon-reorder