nav#main-nav.main-nav
	ul
		li
			
			a(href='#main-nav') Presencia

		li
			
			a#link-acerca(href='#main-nav').activo Acerca de
				
			ul#sub-acerca
				li
					a(href='#') Introducción
				li
					a(href='#') Directorio
				li
					a(href='#') Consejo de Administración
				li
					a(href='#') Accionistas Principales
				li
					a(href='#') Eventos Relevantes
				li
					a(href='#') Ficha Técnica

		li
			
			a#link-relaciones(href='#main-nav') Relaciones con Inversionistas
				
			ul#sub-relaciones
				li
					a(href='#') Datos de la Empresa
				li
					a(href='#') Precio Histórico
				li
					a(href='#') Calculadoras para Accionistas
				li
					a(href='#') Información de Dividendos
				li
					a(href='#') Seguimiento de Analistas
				li
					a(href='#') Reportes Trimestrales
				li
					a(href='#') Reportes Anuales
				li
					a(href='#') Servicios a Nuestros Accionistas
				li
					a(href='#') Enlace a Mercados de Valores
				li
					a(href='#') Información para Accionistas
				li
					a(href='#') Calendario de Eventos
				li
					a(href='#') Información Impositiva
				li
					a(href='#') Programa de Compra Directa
				li
					a(href='#') Presentaciones
				li
					a(href='#') AMX y la OCDE
				li
					a(href='#') Registros

		li
			
			a#link-sala(href='#main-nav') Sala de Prensa
				
			ul#sub-sala
				li
					a(href='#') 2013
				li
					a(href='#') 2012
				li
					a(href='#') 2011