nav#main-nav.main-nav
	ul
		li
			
			a(href='interna.html') Presencia

		li
			
			a#link-acerca(href='interna.html') Acerca de
				
			ul#sub-acerca
				li
					a(href='interna.html') Introducción
				li
					a(href='interna.html') Directorio
				li
					a(href='interna.html') Consejo de Administración
				li
					a(href='interna.html') Accionistas Principales
				li
					a(href='interna.html') Eventos Relevantes
				li
					a(href='interna.html') Ficha Técnica

		li
			
			a#link-relaciones(href='interna.html') Relaciones con Inversionistas
				
			ul#sub-relaciones
				li
					a(href='interna.html') Datos de la Empresa
				li
					a(href='interna.html') Precio Histórico
				li
					a(href='interna.html') Calculadoras para Accionistas
				li
					a(href='interna.html') Información de Dividendos
				li
					a(href='interna.html') Seguimiento de Analistas
				li
					a(href='interna.html') Reportes Trimestrales
				li
					a(href='interna.html') Reportes Anuales
				li
					a(href='interna.html') Servicios a Nuestros Accionistas
				li
					a(href='interna.html') Enlace a Mercados de Valores
				li
					a(href='interna.html') Información para Accionistas
				li
					a(href='interna.html') Calendario de Eventos
				li
					a(href='interna.html') Información Impositiva
				li
					a(href='interna.html') Programa de Compra Directa
				li
					a(href='interna.html') Presentaciones
				li
					a(href='interna.html') AMX y la OCDE
				li
					a(href='interna.html') Registros

		li
			
			a#link-sala(href='interna.html') Sala de Prensa
				
			ul#sub-sala
				li
					a(href='interna.html') 2013
				li
					a(href='interna.html') 2012
				li
					a(href='interna.html') 2011