nav#main-nav
	ul
		li
			a(href="#") Presencia
			ul
				li
					a(href="#") Item 1
				li
					a(href="#") Item 2
				li
					a(href="#") Item 3
				li
					a(href="#") Item 4
		li
			a(href="#") Relaciones con Inversionistas 
		li
			a(href="#") Nosotros
		li
			a(href="#") Sala de Prensa

#nav-mobile
	a(href="#main-nav").open
		span.icon-reorder
	a(href="#").close
		span.icon-reorder