nav#main-nav.main-nav
	ul
		li
			
			a#link-sub-otro(href='#main-nav')
				span.texto Presencia

		li
			
			a#link-sub-periodos(href='#main-nav')
				span.texto Acerca de
				
			ul#sub-periodos
				li
					a(href='listado.html') Introducción
				li
					a(href='listado.html') Directorio
				li
					a(href='listado.html') Consejo de Administración
				li
					a(href='listado.html') Accionistas Principales
				li
					a(href='listado.html') Eventos Relevantes
				li
					a(href='listado.html') Ficha Técnica

		li
			
			a#link-sub-curiosidades(href='#main-nav') 
				span.texto Relaciones con Inversionistas
				
			ul#sub-curiosidades
				li
					a(href='listado.html') Datos de la Empresa
				li
					a(href='listado.html') Precio Histórico
				li
					a(href='listado.html') Calculadoras para Accionistas
				li
					a(href='listado.html') Información de Dividendos
				li
					a(href='listado.html') Seguimiento de Analistas
				li
					a(href='listado.html') Reportes Trimestrales
				li
					a(href='listado.html') Reportes Anuales
				li
					a(href='listado.html') Servicios a Nuestros Accionistas
				li
					a(href='listado.html') Enlace a Mercados de Valores
				li
					a(href='listado.html') Información para Accionistas
				li
					a(href='listado.html') Calendario de Eventos
				li
					a(href='listado.html') Información Impositiva
				li
					a(href='listado.html') Programa de Compra Directa
				li
					a(href='listado.html') Presentaciones
				li
					a(href='listado.html') AMX y la OCDE
				li
					a(href='listado.html') Registros

		li
			
			a#link-sub-artes(href='#main-nav') 
				span.texto Sala de Prensa
				
			ul#sub-artes
				li
					a(href='listado.html') 2013
				li
					a(href='listado.html') 2012
				li
					a(href='listado.html') 2011