nav#main-nav.main-nav
	ul
		li
			
			a#link-sub-periodos(href='#main-nav')
				span.icono.periodos
				span.texto Periodos de la Historia
				
			ul#sub-periodos
				li
					a(href='listado.html') El siglo de la conquista
				li
					a(href='listado.html') La Nueva España
				li
					a(href='listado.html') Aires libertarios
				li
					a(href='listado.html') La época de la anarquía
				li
					a(href='listado.html') La era liberal
				li
					a(href='listado.html') El Porfiriato
				li
					a(href='listado.html') La Revolución
				li
					a(href='listado.html') La reconstrucción
				li
					a(href='listado.html') La estabilidad
				li
					a(href='listado.html') La época de las crisis
				li
					a(href='listado.html') La transición democrática

		li
			
			a#link-sub-curiosidades(href='#main-nav') 
				span.icono.curiosidades
				span.texto Curiosidades del Pasado
				
			ul#sub-curiosidades
				li
					a(href='listado.html') Datos Curiosos
				li
					a(href='listado.html') Infografías
				li
					a(href='listado.html') Nuestra Galería
				li
					a(href='listado.html') Bully Magnets
				
		li
			
			a#link-sub-artes(href='#main-nav') 
				span.icono.artes
				span.texto Artes
				
			ul#sub-artes
				li
					a(href='listado.html') Literatura
				li
					a(href='listado.html') Música
				li
					a(href='listado.html') Cine
				li
					a(href='listado.html') Artes Escénicas
				li
					a(href='listado.html') Artes Visuales
				li
					a(href='listado.html') Arquitectura

		li
			
			a#link-sub-baul(href='#main-nav')
				span.icono.baul
				span.texto Baúl de Wiki
				
			ul#sub-baul
				li
					a(href='listado.html') Nota Curiosa
				li
					a(href='listado.html') Recetario
				li
					a(href='listado.html') Entretenimiento
				li
					a(href='listado.html') Ciencia y Tecnología
				li
					a(href='listado.html') Planeta Verde
				li
					a(href='listado.html') Cancionero
		li
			a#link-sub-atlas(href='#main-nav')
				span.icono.atlas
				span.texto Atlas
				
			ul#sub-atlas
				li
					a(href='listado.html') Aguascalientes
				li
					a(href='listado.html') Baja California
				li
					a(href='listado.html') Baja California Sur
				li
					a(href='listado.html') Campeche
				li
					a(href='listado.html') Coahuila
				li
					a(href='listado.html') Colima
				li
					a(href='listado.html') Chiapas
				li
					a(href='listado.html') Chihuahua
				li
					a(href='listado.html') Distrito Federal
				li
					a(href='listado.html') Durango
				li
					a(href='listado.html') Guanajuato
				li
					a(href='listado.html') Guerrero
				li
					a(href='listado.html') Hidalgo
				li
					a(href='listado.html') Jalisco
				li
					a(href='listado.html') Estado de México
				li
					a(href='listado.html') Michoacán
				li
					a(href='listado.html') Morelos
				li
					a(href='listado.html') Nayarit
				li
					a(href='listado.html') Nuevo León
				li
					a(href='listado.html') Oaxaca
				li
					a(href='listado.html') Puebla
				li
					a(href='listado.html') Querétaro
				li
					a(href='listado.html') Quintana Roo
				li
					a(href='listado.html') San Luis Potosí
				li
					a(href='listado.html') Sinaloa
				li
					a(href='listado.html') Sonora
				li
					a(href='listado.html') Tabasco
				li
					a(href='listado.html') Tamaulipas
				li
					a(href='listado.html') Tlaxcala
				li
					a(href='listado.html') Veracruz
				li
					a(href='listado.html') Yucatán
				li
					a(href='listado.html') Zacatecas